<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.t_t">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Track your items"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TT">
        <activity android:name=".details"></activity>
        <activity android:name=".verify_otp" />
        <activity android:name=".Add_events" />
        <activity android:name=".ToDoListActivity" />
        <activity android:name=".Add_items" />
        <activity android:name=".MainScreen" />
        <activity android:name=".Add_category" />
        <activity android:name=".email_verification" />
        <activity android:name=".PhoneVerification" />
        <activity android:name=".Register" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Items" />
        <activity android:name=".TrackerActivity" />
        <activity android:name=".DashboardMainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <receiver
            android:name=".MyAlarm"
            android:enabled="true"
            android:exported="true" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>